.field-grid-of-pane{
    display: grid;
    gap: 3rem;
    width: 80%;
    margin: 3rem auto;
    position: absolute;
    left: 50%;
    transition: transform 0.5s ease;
    &.slide-out-left {
        transform: translateX(200%);
        transition: transform 0.5s ease;
    }
    &.slide-in-right {
        transform: translateX(-200%);
        transition: transform 0.5s ease;
    }
    &.active {
        transform: translateX(-50%);
        transition: transform 0.5s ease;
    }
    &.easy, &.normal{
        grid-template-columns: repeat(3, 1fr);
    }
    &.hard{
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
    &.extra-hard{
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }
    &.hard span{
        font-size: 40px;
    }
    &.extra-hard span{
        font-size: 30px;
    }
}