#game-screen, .task-large-pane{
    &.purple{
        background: var(--purple-color);
    }
    &.red{
        background-color: var(--red-color);
    }
    &.orange{
        background-color: var(--orange-color);
    }
    &.blue{
        background-color: var(--blue-color);
    }
    &.green{
        background-color: var(--green-color);
    }
}
#game-screen{
    position: relative;
}
.task-large-pane{
    color: #f7f5fa;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 3rem;
    position: relative;
    top: 4rem;
    box-shadow: 5px 4px 12px 5px rgba(107,106,106,0.64);
    -webkit-box-shadow: 5px 4px 12px 5px rgba(107,106,106,0.64);
    -moz-box-shadow: 5px 4px 12px 5px rgba(107,106,106,0.64);
}
.correct-number-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.task-large-pane span{
    position: absolute;

    transition: transform 0.5s ease;
    &.slide-out-left {
        transform: translateX(1000px);
        transition: transform 0.5s ease;
    }
    &.slide-in-right {
        transform: translateX(-1000px);
        transition: transform 0.5s ease;
    }
    &.active {
        transform: translateX(0);
        transition: transform 0.5s ease;
    }
}
.timer-score-pane{
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 50px;
    background: rgba(62, 61, 61, 0.65);
    border-bottom-left-radius: 25px;
    box-shadow: 2px 4px 3px 0 rgba(107,106,106,0.64);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.timer-score-pane-element{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.timer-score-pane-element-description{
    font-size: 15px
}
.bonus-count{
    font-size: 15px
}
.bonus-circle{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #4a596f;
    border: 1px solid #d4d4d4;
    &.active{
        background-color: #ffffff;
    }
}
#bonus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}
#score, #level, #timer{
    color: #f7f5fa;
}
#minutes, #seconds{
    font-size: 15px;
}
#end-screen{
    background: #22C1C3;
    background: linear-gradient(0deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}
.results-container-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
}
.results-container{
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    column-gap: 100px;
    row-gap: 30px;
}
.results-description, .results{
    color: #ffffff;
    font-size: 35px;
    text-shadow: -1px -1px 1px rgba(107,106,106,0.64);
    display: flex;
    align-items: center;
    justify-content: center;
}