@import url('https://fonts.googleapis.com/css2?family=Huninn&family=LXGW+Marker+Gothic&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}
html{
    --purple-color: #881fef;
    --orange-color: #f0ad4e;
    --green-color: #4CAF50;
    --blue-color: #0fbee6;
    --red-color: #921e02;
}
body{
    font-size: 1.3rem;
    font-family: "Huninn", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    color: #333;
    background: #f7f5fa;
}
.wrapper{
    width: 1500px;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
}
#train-h2{
    color: #881fef;
    width: 200px;
    margin: 1rem auto;
}
.description{
    width: 400px;
}
.game-screen{
    width: 100%;
    height: 100%;
    position: relative;
}
.game-container{
    position: relative;
    width: 900px;
    height: 700px;
    background: #ffffff;
    box-shadow: 5px 4px 12px 5px rgba(107,106,106,0.64);
    -webkit-box-shadow: 5px 4px 12px 5px rgba(107,106,106,0.64);
    -moz-box-shadow: 5px 4px 12px 5px rgba(107,106,106,0.64);
}
.start-end-header{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    color: #f7f5fa;
    background-image: url("/public/img/screenshot-game-board.png");
    background-size: contain;
}
.start-advantages{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.advantages{
    width: 80%;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.game-button{
    font-family: 'Huninn', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    background-color: #800deb;
    border: none;
    width: 15rem;
    height: 3rem;
    border-radius: 1.5rem;
    margin-bottom: 4rem;
    transition: 0.2s all;
    cursor: pointer;

    &:hover{
        transform: scale(105%);
        transition: 0.15s all;
    }
}
span{
    color: #f7f5fa;
    font-size: 50px;
    font-weight: 900;
}
#correct-png, #wrong-png{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
